

.content {
    max-width: 70%
}
p {
    text-align: left;
    font-family: 'franklin-gothic-urw', 'arial', helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
    font-size: 1.25rem;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}