body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  margin: 0;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-links {
  display: flex;
  flex-direction: row;
  gap: 10px
}
