


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  margin: 0;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-links {
  display: flex;
  flex-direction: row;
  gap: 10px
}

@media (min-width: 668px) {
  .mobile-header {
    display: none
  }
}

@media (max-width: 667px) {
  .desktop-header {
    display: none;
  }

  .page-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}


