#root {
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header-image {
    display: grid;
    height: fit-content;
    width: 100%;

    img {
        max-width: 100%;
        min-width: 99.4vw;
        max-height: 100%;
        object-fit: cover;
    }
  }

.title {
    line-height: 30rem;
    color: #232d4b;

    .title-text {
        position: relative;
        max-width: fit-content;
        font-family: 'ITC Franklin Gothic Std';
        font-weight: 500;
        font-size: 16vw;
        letter-spacing: 2rem;
        text-align: left;
        margin-left: 5%;
    }
    
     .title-text::after {
        content: '';
        bottom: 5.5vh;
        left: 0;
        height: 5vh;
        width: 103%;
        background: #e57200;
        position: absolute;
        z-index: -1;
    }

    .by-the-numbers {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 5vw;
        height: 34vh;
        text-align: left;
        margin-left: 2%;
        max-width: 100vw
    }
    .year-text {
        flex: 0 1;
        font-family: 'Adobe Caslon Pro';
        font-size: 25vw;
        font-weight: bold;
        font-style: italic;
        text-align: left;
        line-height: 1em;
        vertical-align: bottom;
        margin-bottom: -5%;
    }
    .numbers-text {
        flex: 0;
        display: flex;
        font-family: 'ITC Franklin Gothic Std';
        font-size: 7vw;
        font-weight: lighter;
        line-height: 1em;
        align-self: flex-end;
        text-align: left;
    }
    .by-the-numbers::after {
        content: '';
        bottom: 0;
        left: 3.3vw;
        height: 5vh;
        width: 90.7vw;
        background: #e57200;
        position: absolute;
        z-index: -1;
    }
}

/* TODO: connect lines with underlayed images */
.connecting-line {
    border-left: 12px solid #e57200;
    height: 500px;
    margin-left: 50%;
}